* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

/* navigation header from here */
nav {
    width: 100%;
    min-height: 50px;
}

    nav div {
        height: 65px;
        width: 100%;
        position: fixed;
        background: #1c47ae;
    }

    nav div ul {
        list-style-type: none;
    }

        nav div ul img {
            height: 65px;
            width: auto;
            box-sizing: border-box;
            margin-top: 0px;
            padding: 5px;
        }

        nav div ul .navbar {
            background: transparent;
            color: gainsboro;
            display: inline-block;
            height: 65px;
            font-size: 16px;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,   Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .navbar:hover {
            color: ghostwhite;
            height: 65px;
        }

/* navigation header up to here */

/* Search button CSS from here */
/* .searchForm {
    position: relative;
    width: auto;
    height: auto;
}

.inputSearch {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid ghostwhite;
    border-radius: 24px;
    font-size: 14px;
    background-color: ghostwhite;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 0px 10px 0px 20px;
    margin-top: 1px;
}

.inputSearch:focus {
    width: 100%;
    display:block;
    transition: width 1s;
    width: 300px;
    cursor: pointer;
    border: 0px;
    text-align: left;
    background-color: white;
} */

/* Modal login css from here */
.modal-header {
    background-color: lightyellow;
    margin: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

/* main section from here */
main {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

main .section {
    background-color: #e9ecef;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

main .section .sectionContent {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.sectionContent .hero-word {
    width: 63%;
    height: auto;
    margin: 50px auto 0px auto;
    padding: 0px;
}

.sectionContent h1 {
    width: 63%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90px;
    font-weight: bold;
    padding: 0px 0px 20px 0px;
    margin: -31px auto 0px auto;
    background: linear-gradient(270deg, black, #0A0068, #7A00B2, #1c47ae, #26007B, #42008D, #5E00A0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.sectionContent .sectionContent-pitch {
    max-width: 50%;
    margin: 0px auto 0px auto;
    font-size: 20px;
}

main .section .sectionButton{
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.sectionButton button {
    width: 325px;
    height: 50px;
    font-size: 20px;
    border-radius: 24px;
    margin: 10px 0px 0px 0px;
    border: 3px solid #ff5833;
    background-color: transparent;
    color: #f53308;
    font-weight: 600;
}

.sectionButton button:hover {
    border: 3px solid #f53308;
    background-color: #f53308;
    color: white;
    transition-duration: 0.5s;
}

.fw-bold {
    color: #f53308;
}

.spx {
    color:#f53308;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.sectionImage p {
    font-size: 28px;
    text-align: left;
    padding: 200px;
    font-weight: 300;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

main .section .sectionImage{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
}

/* Service section from here */
main .service {
    width: 100%;
    height: auto;
    display: block;
    background: -webkit-linear-gradient(#f4f5f5, #f8f9fa);
    padding: 0px;
    margin-top: 20px;
}

.service .serviceContent {
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 100px 0px 100px;
    display: flex;
    flex-direction: column;
}

.serviceHeader {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.serviceContent .serviceTitle {
    background-color: transparent;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: semibold;
    font-size: 55px;
    margin: 0px auto 0px auto;
    padding: 30px 0px 0px 0px;
    text-align: center;
    display: block;
    color: black;
}

.serviceContent .headerParagraph {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.card {
    background-color: transparent;
    margin-right: auto;
    margin-left: auto;
    border: 0px;
}

.card .card-img {
    align-content: center;
    width: 75%;
    height: auto;
    margin: 20px auto 20px auto;
}

.card .card-img:hover {
    opacity: 90%;
}

.card h5 {
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: semibold;
    color:#1d2227;
}

.card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    height: 75px;
}

.card .card-footer {
    background: transparent;
    border: 0px;
}

.card-footer p {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #1d2227;
}


/* Media queries starting from here */

@media only screen and (min-width: 1280px) and (max-width: 1340px ) {
    nav div .navbar {
        display: block;
    }

    .sectionContent h1 {
        width: 80%;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 73px;
        font-weight: bold;
        padding: 10px 0px 10px 0px;
        margin: 0px auto 0px auto;
    }
    
}

@media only screen and (max-width: 1280px) {
    nav div .navbar {
        display: block;
    }

    .sectionContent .hero-word {
        width: 80%;
        margin: 20px auto 0px auto;
        font-weight: lighter;
    }
    
    .sectionContent h1 {
        width: 80%;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 65px;
        font-weight: bold;
        padding: 10px 0px 10px 0px;
        margin: 0px auto 0px auto;
    }
    
    .sectionContent .sectionContent-pitch {
        max-width: 80%;
        margin: 0px auto 0px auto;
        padding: 5px 5px 0px 5px;
        font-size: 16px;
    }

    .sectionButton button {
        width: 300px;
        font-size: 16px;
        border-radius: 24px;
        margin: 40px 0px 40px 0px;

    }
        
}

@media only screen and (max-width: 800px) {
    nav div .navbar {
        display: none;
    }

    .sectionContent .hero-word {
        width: 100%;
        margin: 20px auto 0px auto;
        font-weight: lighter;
    }
    
    .sectionContent h1 {
        width: 100%;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 38px;
        font-weight: bold;
        padding: 10px 0px 10px 0px;
        margin: 0px auto 0px auto;
    }
    
    .sectionContent .sectionContent-pitch {
        max-width: 100%;
        margin: 0px auto 0px auto;
        padding: 5px 5px 0px 5px;
        font-size: 12px;
    }

    .sectionButton button {
        width: 275px;
        font-size: 16px;
        border-radius: 24px;
        margin: 20px 0px 20px 0px;
    }

}

@media only screen and (max-width: 380px) {    
    nav div .navbar {
        display: none;
    }
    
    .sectionContent .hero-word {
        width: 100%;
        margin: 20px auto 0px auto;
    }
    
    .sectionContent h1 {
        width: 100%;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 32px;
        font-weight: bold;
        padding: 10px 0px 10px 0px;
        margin: 0px auto 0px auto;
    }
    
    .sectionContent .sectionContent-pitch {
        max-width: 100%;
        margin: 0px auto 0px auto;
        padding: 5px 5px 0px 5px;
        font-size: 12px;
    }

    .sectionButton button {
        width: 275px;
        font-size: 16px;
        border-radius: 24px;
        margin: 20px 0px 20px 0px;
    }

    
}